<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span data-text-preloader="J" class="letters-loading">
                    J
                </span>
                <span data-text-preloader="H" class="letters-loading">
                    H
                </span>
                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
                <span data-text-preloader="N" class="letters-loading">
                    N
                </span>
               
            </div>
            <p class="text-center">Cargando...</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body_wrapper">
 <app-header></app-header>


 <section class="agency_banner_area_two">
    <div class="dot_shap one"></div>
    <div class="dot_shap two"></div>
    <div class="dot_shap three"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.6s">
                <img class="agency_banner_img" src="assets/img/web/principal.png" alt="">
            </div>
            <div class="col-lg-5 offset-lg-1 d-flex align-items-center">
                <div class="agency_content_two">
                    <h2 class="f_700 f_size_40 l_height50 w_color mb_20 wow fadeInRight" data-wow-delay="0.6s">Bienvenidos...</h2>
                    <p class="f_400 w_color l_height28 wow fadeInRight" data-wow-delay="1s">Mi nombre es Jhon de Quesada, soy Desarrollador Semi-Senior con 6 años de experiencia laboral. Esta es mi página personal. </p>
                    <div class="action_btn d-flex align-items-center mt_40 wow fadeInRight" data-wow-delay="2s">
                        <a href="assets/img/web/cv.pdf" target="_blank" class="btn_hover agency_banner_btn">Descargar CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="easy_setup_area sec_pad">
    <div class="container">
        <div class="hosting_title analytices_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Mis Habilidades </h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s"></p>
        </div>
        <div class="setup_inner">
            <div class="setup_item row">
                <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="assets/img/web/setup_img1.png" alt="">
                </div>
                <div class="col-md-2 s_number">
                    <div class="round">01</div>
                </div>
                <div class="col-md-5">
                    <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                        <h5>Páginas Web</h5>
                        <p class="text-justify">Diseño y elaboración de paginas web totalmente responsive. Las páginas pueden ser single page, dinamicas, tienda virtuales, etc.  </p>
                    </div>
                </div>
                <div class="line bottom_half wow height" data-wow-delay="0.5s"></div>
            </div>
            <div class="setup_item row flex-row-reverse">
                <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="assets/img/web/setup_img2.png" alt="">
                </div>
                <div class="col-md-2 s_number">
                    <div class="round">02</div>
                </div>
                <div class="col-md-5">
                    <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                        <h5>Sistemas Web</h5>
                        <p class="text-justify">Desarrollo sistemas web que cubran tus necesidades.Con tecnologías modernas que sean mas eficaz para automatizar tus procesos. 
                          
                            </p>
                    </div>
                </div>
                <div class="line wow height" data-wow-delay="0.9s"></div>
            </div>
            <div class="setup_item row">
                <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="assets/img/web/setup_img3.png" alt="">
                </div>
                <div class="col-md-2 s_number">
                    <div class="round">03</div>
                </div>
                <div class="col-md-5">
                    <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                        <h5>Aplicaciones Móvil</h5>
                        <p class="text-justify">Desarrollo aplicaciones Móviles Hibridas que te permiten cubrir tus necesidades y expandirte a nuevo mercado, para potenciar sus negocio  por medio de las aplicaciones móviles</p>
                    </div>
                </div>
                <div class="line wow height" data-wow-delay="1.5s"></div>
            </div>
        </div>
    </div>
</section>









  <section class="portfolio_area sec_pad">
      <div class="container">
          <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s">
              <h2 class="f_p f_size_30 l_height40 f_600 t_color text-center">Portafolio</h2>
          </div>
         
          <div class="row portfolio_gallery mb_30" id="work-portfolio">
              <div class="col-lg-4 col-sm-6 portfolio_item br ux mb-30">
                  <div class="portfolio_img">
                      <img src="assets/img/web/portafolio04.png" alt="">
                      <div class="hover_content h_content_two">
                          <a href="https://comprateloenrd.com" target="_blank" class="img_popup leaf"><i class="ti-plus"></i></a>
                          <div class="portfolio-description leaf">
                              <a href="https://comprateloenrd.com" class="portfolio-title">
                                  <h3 class="f_500 f_size_20 f_p">ComprateloenRD</h3>
                              </a>
                              <div class="links"><a href="https://comprateloenrd.com/" target="_blank">Pagina web</a></div>
                          </div>
                      </div>
                  </div>
              </div>
             
              
                <div class="col-lg-4 col-sm-6 portfolio_item br ux mb-30">
                    <div class="portfolio_img">
                        <img src="assets/img/web/portafolio05.png" alt="">
                        <div class="hover_content h_content_two">
                            <a href="#" target="_blank" class="img_popup leaf"><i class="ti-plus"></i></a>
                            <div class="portfolio-description leaf">
                                <a href="#" class="portfolio-title">
                                    <h3 class="f_500 f_size_20 f_p">Vensalud</h3>
                                </a>
                                <div class="links"><a href="#" target="_blank">Página web</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 portfolio_item br ux mb-30">
                    <div class="portfolio_img">
                        <img src="assets/img/web/portafolio01.png" alt="">
                        <div class="hover_content h_content_two">
                            <a href="http://gre-site.azurewebsites.net/" target="_blank" class="img_popup leaf"><i class="ti-plus"></i></a>
                            <div class="portfolio-description leaf">
                                <a href="http://gre-site.azurewebsites.net/" class="portfolio-title">
                                    <h3 class="f_500 f_size_20 f_p">GRTLE</h3>
                                </a>
                                <div class="links"><a href="http://gre-site.azurewebsites.net/" target="_blank">Página web</a></div>
                            </div>
                        </div>
                    </div>
                </div>
           
          </div>





          <div class="row portfolio_gallery mb_30 mt-5" id="work-portfolio">
            <div class="col-lg-4 col-sm-6 portfolio_item br ux mb-30">
                <div class="portfolio_img">
                    <img src="assets/img/web/portafolio03.png" alt="">
                    <div class="hover_content h_content_two">
                        <a href="https://jhonq22.github.io/dragon_atack/" target="_blank" class="img_popup leaf"><i class="ti-plus"></i></a>
                        <div class="portfolio-description leaf">
                            <a href="https://jhonq22.github.io/dragon_atack/" class="portfolio-title">
                                <h3 class="f_500 f_size_20 f_p">Dragon Attack</h3>
                            </a>
                            <div class="links"><a href="https://jhonq22.github.io/dragon_atack//" target="_blank">Video juego</a></div>
                        </div>
                    </div>
                </div>
            </div>
           
            
              <div class="col-lg-4 col-sm-6 portfolio_item br ux mb-30">
                  <div class="portfolio_img">
                      <img src="assets/img/web/portafolio02.png" alt="">
                      <div class="hover_content h_content_two">
                          <a href="http://portafaliojhonq.epizy.com/" target="_blank" class="img_popup leaf"><i class="ti-plus"></i></a>
                          <div class="portfolio-description leaf">
                              <a href="http://portafaliojhonq.epizy.com/" class="portfolio-title">
                                  <h3 class="f_500 f_size_20 f_p">Portafolio</h3>
                              </a>
                              <div class="links"><a href="http://portafaliojhonq.epizy.com/" target="_blank">Página web</a></div>
                          </div>
                      </div>
                  </div>
              </div>

            
         
        </div>
          
      </div>
  </section>


 

  <section class="support_integration_area">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Mis Herramientas</h2>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/angular.png" style="height: 80px; width: 80px;" alt="">
                            <h5>Angular</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/nodejs.jpg" style="height: 80px; width: 80px;" alt="">
                            <h5>NodeJS</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/wordpress.png" style="height: 80px; width: 80px;" alt="">
                            <h5>Wordpress</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/laravel.png" style="height: 80px; width: 80px;" alt="">
                            <h5>Laravel</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/python.png" style="height: 80px; width: 80px;" alt="">
                            <h5>Python</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/django.jpg" style="height: 80px; width: 80px;" alt="">
                            <h5>Django</h5>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/firebase.png" style="height: 80px; width: 80px;" alt="">
                            <h5>Firebase</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/ionic.jpg" style="height: 80px; width: 80px;" alt="">
                            <h5>Ionic 4</h5>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="#" class="s_integration_item">
                            <img src="assets/img/web/iconos/flutter.jpg" style="height: 80px; width: 80px;" alt="">
                            <h5>Flutter</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-12">
                <img class="integration_img" src="assets/img/new-home/tree.png" alt="">
            </div>
        </div>
    </div>
</section>



 
  <footer class="payment_footer_area payment_footer_area_two">
      <div class="footer_top_six">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-sm-6">
                      <div class="f_widget company_widget">
                     
                          <p class="mt_40">Copyright © 2020  <a href="#"></a></p>
                      </div>
                  </div>
               
               
              </div>
          </div>
      </div>
  </footer>
</div>